.marquee-container {
    overflow: hidden; /* Versteckt überflüssigen Inhalt */
    max-width: 80%; /* Breite des sichtbaren Bereichs */
    margin: 0 auto; /* Zentriert den Container */
    background: white;
    padding: 20px 0; /* Vertikaler Abstand */
}

.marquee-content {
    display: flex;
    gap: 20px;
    animation: marquee 20s linear infinite; /* Endlos-Animation */
    width: max-content;
}

.marquee-item {
    flex: 0 0 auto; /* Elemente bleiben fixiert */
    width: 245px;
    height: 300px;
    background: var(--background-light);
    /* background: linear-gradient(135deg, rgba(244, 242, 240, 0.35) 0%, rgba(227, 222, 213, 0.35) 100%); */
    border: 1px solid #ccc;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.menu-image {
    width: 100%; /* Bild passt in das Element */
    height: 150px;
    object-fit: cover; /* Bild wird zugeschnitten */
    border-radius: 8px;
}

@keyframes marquee {
    from {
        transform: translateX(0); /* Start rechts */
    }
    to {
        transform: translateX(-50%); /* Ende links */
    }
}

/* Stoppt die Animation beim Hover auf das Marquee */
.marquee-container:hover .marquee-content {
    animation-play-state: paused; /* Pausiert die Animation */
}

/* Vergrößert das Item beim Hover */
.marquee-item:hover {
    transform: scale(1.01); /* Vergrößert das Item um 1% */
    transition: transform 0.2s ease; /* Animiert die Vergrößerung */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Schatten */
}

.marquee-borders {
    mask-image: linear-gradient(
            to right,
            hsl(0 0% 0% / 0),
            hsl(0 0% 0% / 1) 20%,
            hsl(0 0% 0% / 1) 80%,
            hsl(0 0% 0% / 0)
    );
}