* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inconsolata", sans-serif;
    font-size: 17px;
    background-color: var(--background-light);
    color: var(--text-primary);
    overflow-x: hidden; /* Verhindert horizontales Scrollen */
}

.hero {
    text-align: center;
    padding: 2rem;
}

.gif {
    width: 200px;
    height: auto;
    padding-bottom: 20px;
}

h1 {
    font-size: 70px;
}

h3 {
    font-size: 30px;
    padding-block: 15px;
}

h4 {
    font-size: 20px;
    padding: 10px;
}

.menu-section .scroll-container {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    padding: 1rem;
}

.card {
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
}


.footer {
    text-align: center;
    padding: 1rem;
}